#container {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  margin: 10px; 
  padding: 10px;
  #header, #footer {
    background-color: #ddd;
    padding: 10px;
  }
  #header { text-align: right;  }
  #footer { text-align: center; }
  #welcome { font-size: 18px; float: right; display: inline-block;}

  #body {
    margin: 20px 0;
  }
  #beer-form, #beer-list {
    display: inline-block;
    margin-bottom: 20px;
    float: left;
    width: 45%;
  }
  #beer-form {
    padding-left: 40px;
    border-left: #999 1px dashed;
  }
}
    
